{{!-- shown after generating a gift --}}
<div id="gift-popup-backdrop" class="hidden"></div>

<div id="gift-popup" class="center">
    <div class="icon">
        <i class="fa-solid fa-gift"></i>
    </div>
    <div class="name"></div>
    <div class="desc"></div>
    <button type="button" id="gift-popup-close">&times;</button>
</div>