<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <!--
        This 3rd-party stylesheet incorporates SVG icons from Font Awesome:
        http://fontawesome.com/.  Specifically, each of the <i> elements below
        incorporates an icon from Font Awesome.
        -->
        <meta charset="utf-8">
        <title>Birthday Tracker</title>
        <link rel="stylesheet" href="/style.css">

        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;500&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
        {{!-- Font Awesome Icons --}}
        <script src="https://kit.fontawesome.com/6c8dc9b3e5.js" crossorigin="anonymous"></script> 
        
        {{!-- main JS script --}}
        <script type="application/javascript" src="/index.js" charset="utf-8" defer></script>
        {{!-- handlebars JS template  --}}
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/birthdayCardTemplate.js" charset="utf-8" defer></script>
    </head>

    <body>
        {{> sideMenu}}

        {{{body}}}
    </body>

</html>