{{!-- Birthdays page --}}
<main id="birthdays-main-box" class="page-box">

    <div id="bday-cards-container">
        {{#if birthdayCards}}
            {{#each birthdayCards}}
                {{> birthdayCard}}
            {{/each}}
        {{else}}
            <center><h3>No birthdays at the moment... add a Birthday to get started!</h3></center>
        {{/if}}
    </div>

    {{!-- {{> birthdayCard}} --}}
    {{> addBirthdayBtn}}
</main>

{{> addBirthdayModal}}

{{> giftPopup}}