<!-- Home page -->
<main id="home-main-box" class="page-box">
    <h2 class="page-title">Home</h2>
    <div class="section">
        <scan class="app-desc">Welcome to 'Birthday Tracker', a place for you to remember your closest people's birthdays. Track birthdays by creating 'Birthday Profiles', and generate numerous Gift Ideas for anyone at anytime. </scan>
        <scan class="see-below">(See below for a list of all the features this app provides...)</scan>
    </div>
    <div class="section">
        <h3 class="header">Navigating to the Birthdays page</h3>
        <p class="desc">The Birthdays page is your main place for adding and viewing people's birthdays.</p>
        <div class="tutorial">
            <ol>
                <li>To start, click on the Hamburger (Three-line icon) in the top-left corner of your screen.</li>
                <li>A side menu will appear with names of different pages in the website. Click on 'Birthdays' to go to the Birthdays page.</li>
                <li>Add a New Birthday profile to get started (See next tutorial for details)</li>
            </ol>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Adding a New Birthday Profile</h3>
        <p class="desc">A Birthday Profile is simply a record of a person's birthday and personal information. Adding a birthday profile allows you to save a record of a person's birthday for future reference.</p>
        <div class="tutorial">
            <ol>
                <li>To start, click on the 'Add Birthday' button in the bottom right corner of your screen.</li>
                <li>A popup should appear where you will need to enter some information about the person and their birthday. See below for details.
                    <ol>
                        <li>Enter their name (Note: This field is required)</li>
                        <li>Enter their full birthday (Manually type in the field or click on the calendar icon to enter date)
                            <ul>
                                <li>Note: This field is required. To register a person's birthdate into the application, their full birthday (Month, Day, Year) must be included. No alternative options are presented at this time.</li>
                            </ul>
                        </li>
                        <li>Enter a profile image by selecting one of two options (Note: this field is optional)
                            <ul>
                                <li>To insert an image via URL, you must provide the full address of an image published online</li>
                                <li>To insert an image via Upload, you must have the image already saved on your machine and ready for access</li>
                            </ul>
                        </li>
                        <li>Enter their interests by selecting one or multiple predefined options from a dropdown menu (Note: this field is optional)
                            <ul>
                                <li>Note: Users are unable to add new options to the dropdown menu. The interests displayed are the only ones available for use.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Viewing Birthday Profiles</h3>
        <p class="desc">Birthday profiles are ordered relative to the current day. This means upcoming birthdays are shown to you first as fast and simple reference</p>
        <div class="tutorial">
            <ul>
                <li>You can view all the birthday profiles you added by using your cursor to slide left and right</li>
                <li>You can view three key pieces of info about each profile: Name, Age, and Birthday (Month, Day)</li>
                <li>Edit, Delete, and Generate Gift buttons are displayed near the footer of each profile. See below for additional details about each of these functionalities</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Editing a Birthday Profile</h3>
        <p class="desc">Coming Later...</p>
        <div class="tutorial"></div>
    </div>
    <div class="section">
        <h3 class="header">Deleting a Birthday Profile</h3>
        <p class="desc">Coming Later...</p>
        <div class="tutorial"></div>
    </div>
    <div class="section">
        <h3 class="header">Generating Gifts for a Birthday Profile</h3>
        <p class="desc">Coming Later...</p>
        <div class="tutorial"></div>
    </div>
</main>