<!-- Home page -->
<main id="home-main-box" class="page-box">
    <div class="title">
        <div class="app-desc">Welcome to the Birthday Buddy App – your all-in-one solution for birthdays! Never forget a special day with this intuitive tracker and elevate the celebration with unique gift ideas generated just for you. Let the festivities begin! See below for a list of features.</div>
    </div>
    <div class="section">
        <h3 class="header">Navigating to the Birthdays page</h3>
        <p class="desc">The Birthdays page is your main place for adding and viewing people's birthdays.</p>
        <div class="tutorial">
            <ol>
                <li>Click the Hamburger icon in the top-left corner of your screen.</li>
                <li>A side menu will appear with a list of different pages on the website. Click 'Birthdays' to navigate to the Birthdays page.</li>
            </ol>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Adding a New Birthday Profile</h3>
        <p class="desc">A Birthday Profile is a record of a person's birthday and personal information. Add a birthday profile to save a record of that person's birthday for future reference.</p>
        <div class="tutorial">
            <ol>
                <li>Click the 'Add Birthday' button in the bottom right corner of your screen.</li>
                <li>A popup will appear prompting you to enter information about this new birthday. See below for details.
                    <ol>
                        <li>Enter their name (Required)</li>
                        <li>Enter their full birthday (Required)
                            <ul>
                                <li>To register a person's birthdate, enter their full birthday (Month, Day, Year) by clicking the calendar icon or typing directly into the field.</li>
                            </ul>
                        </li>
                        <li>Enter a profile image by selecting one of two options (Optional)
                            <ul>
                                <li>To insert an image via URL, you must provide the full address of an image published online</li>
                                <li>To insert an image via Upload, you must have the image saved on your local machine</li>
                            </ul>
                        </li>
                        <li>Enter their interests by selecting one or multiple predefined options from the dropdown menu (Optional)
                            <ul>
                                <li>Note: Users are unable to add new options to the dropdown menu. The interests displayed are the only ones currently available.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Viewing Birthday Profiles</h3>
        <p class="desc">Birthday profiles are ordered relative to today's date, allowing you to quickly view upcoming birthdays.</p>
        <div class="tutorial">
            <ul>
                <li>View all the birthday profiles you added by scrolling horizontally with your cursor</li>
                <li>Each profile includes: Name, Age, and Birthday (Month, Day)</li>
                <li>Edit, Delete, and Generate Gift buttons can be found on each profile. See below for additional details about each of these functionalities</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Generating Gifts for a Birthday Profile</h3>
        <p class="desc">Quickly generate gift ideas for a specific person.</p>
        <div class="tutorial">
            <ol>
                <li>Navigate to the Birthdays page.</li>
                <li>Under a birthday profile, click on the "Generate Gift" button to generate a gift for that person based on their interests.</li>
            </ol>
        </div>
    </div>
    <div class="section">
        <h3 class="header">Editing a Birthday Profile</h3>
        <p class="desc">Coming Later...</p>
        <div class="tutorial"></div>
    </div>
    <div class="section">
        <h3 class="header">Deleting a Birthday Profile</h3>
        <p class="desc">Coming Later...</p>
        <div class="tutorial"></div>
    </div>
</main>